<div id="<%= dom_id local_resource %>">
  <p>
    <strong>Name:</strong>
    <%= local_resource.name %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= local_resource.zip %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= local_resource.website %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= local_resource.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= local_resource.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= local_resource.email %>
  </p>

</div>
